import React, { Component } from 'react';
import PropTypes from 'prop-types';

class {{properCase name }} extends Component {
    constructor(props) {
        super(props);

    }
    render() {
        return (
            <div>

            </div>
        );
    }
}

{{properCase name }}.propTypes = {

};

export default {{properCase name }};